<!--The content below is only a placeholder and can be replaced.-->
<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-12 mt-2" style="text-align:center">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="col-3 p-2">
          <label for="selEstado">Estado:</label>
          <select [(ngModel)]="selState" name="selEstado" (change)="selectState();"
                  id="selEstado" class="form-control">
            <option *ngFor = "let state of states" [value]="state">{{ state }}</option>
          </select>
        </div>
        <div class="col-3 p-2">
          <label for="selEstado">Año:</label>
          <select [(ngModel)]="selYear" name="selAnio" (change)="selectYear();"
                  id="selAnio" class="form-control">
            <option *ngFor = "let year of years" [value]="year">{{ year }}</option>
          </select>
        </div>
        <div class="col-3 p-2">
            <label for="selEstado">Ordenar por:</label>
          <select [(ngModel)]="selSortMode" name="selOrdenar" (change)="selectSortMode();"
                  id="selOrdenar" class="form-control">
            <option *ngFor = "let sortMode of sortModes" [value]="sortMode">{{ sortMode }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-2 text-center">
      <app-bar-chart class="col-12 mt-2" *ngIf="chartData" 
                    [data]="allData"
                    [selYear]="selYearNum"></app-bar-chart>
    </div>
  </div>
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-9 mt-5">
      <div class="card border-primary">
          <div class="card-header">Resumen</div>
          <div class="card-body">
            <div class="row h-100 justify-content-center align-items-center">
              <div class="col-6">
                <h4 class="card-title">Año: {{ selYear }}</h4>
                <p class="card-text">Promedio IDH: {{ promIDHstr }}</p>
              </div>
              <div class="col-6">
                <p class="card-text">IDH más alto: {{ IDHmaxstr }}</p>
                <p class="card-text">IDH más bajo: {{ IDHminstr }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<!--[state]="selState"
[sortMode]="selSortMode"-->