<div class="btn-group">
    <!--<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{dropdownTitle}}
    </button>-->
    <div class="dropdown-menu" [ngSwitch] = "dropdownTitle">
      <select name="id" id="id" *ngSwitchCase="'Estado'" class="dropdown-item">
        <option selected="" value="">{{dropdownTitle}}</option>
        <option class="dropdown-item" *ngFor = "let state of states">{{ state.stateName }}</option>
      </select>
      <!--<select name="stateOpt" id="stateOpt" #Id="ngModel" [(ngModel)]="nameId" (change)="showName();" 
              *ngSwitchCase="'Año'">
        <option selected="" value=""></option>
        <option class="dropdown-item" [ngValue]="state.id" *ngFor = "let state of states">{{ state.stateName }}</option>
      </select>
      <select name="stateOpt" id="stateOpt" #Id="ngModel" [(ngModel)]="nameId" (change)="showName();" 
              *ngSwitchCase="'Ordenar datos'">
        <option selected="" value=""></option>
        <option class="dropdown-item" [ngValue]="state.id" *ngFor = "let state of states">{{ state.stateName }}</option>
      </select>-->
        <!--<span *ngSwitchCase="'Año'">
          <a class="dropdown-item" href="#" *ngFor = "let daction of actions[1]">{{ daction }}</a>
        </span>
        <span *ngSwitchCase="'Ordenar datos'">
          <a class="dropdown-item" href="#" *ngFor = "let daction of actions[2]">{{ daction }}</a>
        </span>-->
    </div>
</div>